{% extends "layout.html" %}
{% block content %}
    {% for post in posts.items %}
        <article class="d-flex content-section rounded mb-4">
            {% if post.album_image %}
                <div class="flex-shrink-0 me-3">
                    <img 
                        src="{{ post.album_image }}" 
                        alt="{{ post.album_name }}" 
                        class="img-fluid rounded"
                        style="width: 200px; height: auto;"
                    >
                    <p class="mt-1"><strong>{{ post.album_name }}</strong><br>{{ post.album_artist }}</p>
                </div>
            {% endif %}

            <div class="flex-grow-1">
                <div class="article-metadata mb-2">
                    <a class="mr-2" href="{{ url_for('posts.post', post_id=post.id)}}">{{ post.author }}</a>
                    <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                </div>

                <h2 class="mt-0"><a class="article-title" href="#">{{ post.title }}</a></h2>
                <p>{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if posts.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num )}}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num )}}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}

{% endblock content %}
